<nav>
<h1>Menu</h1>
<ul>
  <li><a href="/item">See all snippets</a></li>
  <li><a href="/item/create">Create new snippet</a></li>
  <li><a href="/users/register">Create new user</a></li>
  <li><a href="/users/login">Login</a></li>
</ul>
</nav>
